{{ define "pageTitle" }}Research - Réka Juhász{{end}}
{{ define "content" }}
<div class="row">
  <div class="columns small-12">
    <h2>Publications</h2>
    {{- range .Publications -}}
        {{template "paper" .}}
    {{- end -}}
    <h2>Working Papers</h2>
    {{- range .WorkingPapers -}}
        {{template "paper" .}}
    {{- end }}
  </div>
</div>
{{- end }}

{{define "paper" }}
    <h3>{{- template "link" . -}}
    {{if .HasCoauthors}}
        <br><span style="font-weight:normal">with
        {{$n := len .Coauthors}}
        {{range $i, $e := .Coauthors}}
            {{- if eq (plus1 $i) $n }} and
            {{- else if $i -}}, {{- end -}}
            {{- template "link" . -}}
        {{end}}
        </span>
    {{end}}
    </h3>
    <p class="header"></p>
    <input id="abstract{{.ID}}" class="toggle" type="checkbox">
    <label for="abstract{{.ID}}" class="lbl-toggle">Abstract</label>
    <p class="collapsible-content">{{.Abstract}}</p>
    <p style="line-height: 0;">&nbsp;</p>
{{- end -}}

{{define "link" }}
<a href="{{.URL}}" target="_blank">{{.Name}}</a>
{{- end -}}
