{{define "style"}}
<style>
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
  font-size: 15px;
}

body {
  border-top: 8px solid #4FEEC5;
  padding-top: 22px;
  color: #444; /* rgb(68, 68, 68); */
  font-family: 'Merriweather';
  margin: 0;
  line-height: 1.5;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 64rem;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column, .columns {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
}

.small-12 {
  width: 100%;
}

@media only screen and (min-width: 40.063em) {
  .medium-3 {
    width: 25%;
  }

  .medium-6 {
    width: 50%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.33333rem;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

h1 {
  line-height: 51px;
}
h1 a, h1 a:hover, h1 a:focus {
  color: #000;
  font-size: 40px;
  font-weight: normal;
}

.nav-spacer {
  width: 100px;
  height: 2px;
  background: #E5E5E5;
  margin: 10px 0;
}
nav {
  margin: 15px 0 35px 0;
}

nav ul {
  margin: 0 auto 1.13333rem auto;
  margin-left: -1.46667rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  list-style: none;
  float: left;
  margin-left: 1.46667rem;
  display: block;
}

nav ul li * {
  display: block;
}

nav a {
  font-size: 16px;
  color: #000;
}

nav a:hover, nav a:focus, nav .active a {
  color: rgb(170, 170, 170);
}

main {
  border-top: 1px solid #eee;
  padding-top: 50px;
}

img {
  display: inline-block;
  vertical-align: middle;  border-width: 1px;
  max-width: 100%;
  height: auto;border-style: solid;
  border-color: rgba(0,0,0,0.13);
  padding:6px;
}
h2 {
  font-size: 24px;
  font-weight: normal;
  color: rgb(129, 129, 129);
  margin-bottom: 20px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4;
}

main a, main a:focus {
  border-bottom: 1px dotted #4FEEC5;
  transition: all 0.2s;
  color:inherit;
}

main a:hover {
  color: #fff;
  background-color: #4FEEC5;
}

p.header {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 7.5px;

  .italic {
    font-weight:normal;
    font-style: italic;
  }
}


// Collapsible Abstract

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
}

.lbl-toggle::after {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-left: 7px;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content {
  margin-top: 10px;
  max-height: 0px;
  overflow: hidden;

  transition: max-height .3s;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
</style>
{{end}}
