{{ define "pageTitle" }}Réka Juhász{{end}}
{{ define "content" }}
<div class="row">
  <div class="columns medium-3">
    <img src="/assets/reka-juhasz.jpg">
  </div>
  <div class="columns medium-6">
    <p>
      <strong>Welcome</strong><br>
      I am an Assistant Professor of Economics at the Vancouver School of Economics, UBC. I am interested in industrial policy and industrialization.<br>
      <a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F7XNnzCuygIIjhAMNyExX2XnWovo2TanOKURmlUurB7VJrBtu2yn4co3tcHf1bYLhzeTjIy_HZldh91td3UzXZRHmwmlMohp6sHM01ZTwqbd60i7zg&user=7GJYFp0AAAAJ" target="_blank">Google Scholar Citations</a>
    </p>

    <p>
      <strong>Contact</strong><br>
      <a href="mailto:rj2446@columbia.edu">reka.juhasz@ubc.ca</a><br>
      Vancouver School of Economics<br>
      University of British Columbia<br>
      6000 Iona Drive<br>
      Vancouver, BC<br>
      V6T 1L4
    </p>
  </div>
  <div class="columns medium-3">
    <p>
      <strong>Research Interests</strong><br>
      International Trade<br>
      Economic History<br>
      Development and Growth
    </p>
  </div>
</div>
{{- end }}
