{{ define "pageTitle" }}Réka Juhász{{end}}
{{ define "content" }}
<div class="row">
  <div class="columns medium-3">
    <img src="/assets/reka-juhasz.jpg">
  </div>
  <div class="columns medium-6">
    <p>
      <strong>Welcome</strong><br>
      I am an Assistant Professor of Economics at Columbia University<br>
      <a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F7XNnzCuygIIjhAMNyExX2XnWovo2TanOKURmlUurB7VJrBtu2yn4co3tcHf1bYLhzeTjIy_HZldh91td3UzXZRHmwmlMohp6sHM01ZTwqbd60i7zg&user=7GJYFp0AAAAJ" target="_blank">Google Scholar Citations</a>
    </p>

    <p>
      <strong>Contact</strong><br>
      <a href="mailto:rj2446@columbia.edu">rj2446@columbia.edu</a><br>
      Department of Economics<br>
      Columbia University<br>
      1133 International Affairs Building<br>
      420 West 118<sup>th</sup> Street<br>
      New York, NY 10027
    </p>
  </div>
  <div class="columns medium-3">
    <p>
      <strong>Research Interests</strong><br>
      International Trade<br>
      Economic History<br>
      Development and Growth
    </p>
  </div>
</div>
{{- end }}
