{{ define "pageTitle" }}Réka Juhász{{end}}
{{ define "content" }}
<div class="row">
  <div class="columns medium-3">
    <img src="/assets/reka_juhasz_headshot copy.jpg">
  </div>
  <div class="columns medium-6">
    <p>
      <strong>Welcome</strong><br>
      I am an Associate Professor of Economics at the University of British Columbia. I study industrial policy and industrialization. I am co-founder of <a href="https://www.industrialpolicygroup.com">The Industrial Policy Group</a> and a 2025 <a href="https://single-market-economy.ec.europa.eu/about-us/chief-economist-team/grow-fellowship-programme_en">DG Grow Fellow</a> at the European Commission. I was recently awarded the 2025 Bank of Canada <a href="https://www.bankofcanada.ca/research/fellowship-program/awards-recipients/">Governor's Award</a> and the 2025 <a href="https://www.economics.ca/cwec-awards">CWEC/CFEC</a> Early Career Research Award.
      <br></br>
      <a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F7XNnzCuygIIjhAMNyExX2XnWovo2TanOKURmlUurB7VJrBtu2yn4co3tcHf1bYLhzeTjIy_HZldh91td3UzXZRHmwmlMohp6sHM01ZTwqbd60i7zg&user=7GJYFp0AAAAJ" target="_blank">Google Scholar Citations</a>
    </p>

    <p>
      <strong>Contact</strong><br>
      <a href="mailto:reka.juhasz@ubc.ca">reka.juhasz@ubc.ca</a><br>
      Vancouver School of Economics<br>
      University of British Columbia<br>
      6000 Iona Drive<br>
      Vancouver, BC<br>
      V6T 1L4
    </p>
  </div>
  <div class="columns medium-3">
    <p>
      <strong>Research Interests</strong><br>
      International Trade<br>
      Economic History<br>
      Development and Growth
    </p>
  </div>
</div>
{{- end }}
