{{ define "pageTitle" }}Media, Popular Writings & Public Lectures - Réka Juhász{{end}}
{{ define "content" }}
<div class="row">
  <div class="columns small-12">
    <h2>Industrial Policy</h2>

    <h3><a target="_blank" href="https://www.npr.org/2024/02/23/1197958331/reka-juhasz-industrial-policy-inflation-reduction-act">A controversial idea at the heart of Bidenomics</a><br> <span style="font-weight:normal"><a>(NPR Plant Money)</a></span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://www.promarket.org/2023/03/14/economics-must-catch-up-on-industrial-policy/">Economics must catch up on industrial policy</a><br>
      <span style="font-weight:normal">(ProMarket - with 
      <a href="https://www.nathanlane.info" target="_blank">Nathan Lane</a>)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://cepr.org/voxeu/columns/new-economics-industrial-policy">The new economics of industrial policy</a><br>
      <span style="font-weight:normal">(VoxEU - with 
      <a href="https://www.nathanlane.info" target="_blank">Nathan Lane</a> and <a href="https://drodrik.scholar.harvard.edu" target="_blank">Dani Rodrik</a>)</span>
    </h3>

    <p></p>

     <h3><a target="_blank" href="https://www.npr.org/2023/09/12/1197953091/the-indicator-from-planet-money-industrial-policy-the-debate">Industrial policy, the debate!</a><br>
      <span style="font-weight:normal">(NPR The Indicator from Planet Money)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://www.promarket.org/2024/02/12/setting-the-record-straight-on-historical-industrial-policy/">Setting the Record Straight on Industrial Policy</a><br>
      <span style="font-weight:normal">(ProMarket - with 
      <a href="https://sites.google.com/site/clsteinwender/" target="_blank">Claudia Steinwender</a>)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://www.readthepeak.com/episodes/why-the-world-is-embracing-industrial-policy">Why the world is embracing industrial policy</a><br>
      <span style="font-weight:normal">(The Peak podcast)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://www.bpb.de/shop/zeitschriften/apuz/industriepolitik-2024/">Industriepolitik</a><br>
      <span style="font-weight:normal">(in German, APuZ – with 
      <a href="https://sites.google.com/site/clsteinwender/" target="_blank">Claudia Steinwender</a>)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://www.project-syndicate.org/commentary/new-economic-research-more-favorable-to-industrial-policy-by-dani-rodrik-et-al-2023-08">Economists Reconsider Industrial Policy</a><br>
      <span style="font-weight:normal">(Project Syndicate – with
      <a href="https://www.nathanlane.info" target="_blank">Nathan Lane</a> and <a href="https://drodrik.scholar.harvard.edu" target="_blank">Dani Rodrik</a>)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://cepr.org/voxeu/columns/technology-adoption-and-productivity-growth-evidence-industrialisation-france">Technology adoption and productivity growth: Evidence from industrialisation in France</a><br>
      <span style="font-weight:normal">(VoxEU - with 
      <a href="https://marasquicciarini.wixsite.com/home" target="_blank">Mara Squicciarini</a> and <a href="https://www.anderson.ucla.edu/faculty_pages/nico.v/" target="_blank">Nico Voigtlaender</a>)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://tradetalkspodcast.com/podcast/121-can-infant-industry-protection-work-evidence-from-napoleon/">Can Infant Industry Protection Work? Evidence from Napoleon</a><br>
      <span style="font-weight:normal">(Trade Talks podcast)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://cep.lse.ac.uk/pubs/download/cp438.pdf">Napoleonic Protectionism: How France’s Cotton Industry Gained</a><br>
      <span style="font-weight:normal">(Center Piece)</span>
    </h3>

    <p></p>

    <h3><a target="_blank" href="https://cepr.org/voxeu/columns/temporary-protection-and-technology-adoption-evidence-napoleonic-blockade">Temporary protection and technology adoption: Evidence from the Napoleonic Blockade</a><br>
      <span style="font-weight:normal">(VoxEU)</span>
    </h3>

    <p></p>

    <h2>Other writing</h2>

    <h3><a target="_blank" href="https://voxdev.org/topic/infrastructure-urbanisation/all-aboard-effects-port-development">All aboard: The effects of port development</a><br>
      <span style="font-weight:normal">(VoxDev)</span>
    </h3>

    <p></p>

  </div>
</div>
{{- end }}
