{{ define "pageTitle" }}Teaching - Réka Juhász{{end}}
{{ define "content" }}
<div class="row">
  <div class="columns small-12">
    <h2>Presentations</h2>
    <h3> Industrial Policy (Prepared for the <a target="_blank" href="https://www.theigc.org/events/bread-igc-virtual-phd-course-firms-and-development-januaryfebruary-2023">BREAD-IGC Virtual PhD Course on Firms and Development, January/February 2023)</a></h3>
    <p class="header">
      <h4><a target="_blank" href="/teaching/Slides_BREAD_IGC_IndustrialPolicy_Juhasz.pdf"> Slides </a></h4>
      <h4><a target="_blank" href="/teaching/BREAD_IGC Reading List 3.02.23.pdf"> Reading List </a></h4>
      <h4><a target="_blank" href="https://www.youtube.com/watch?v=eZV78C2sgxk"> Lecture Recording </a></h4>
    </p>
  </div>
</div>
{{- end }}
